

<div id="main" style="margin-top:10px;">
     
  <div id="screenshot" style="width:392px;  ">
    
    <div style="width:360px;">
       
        <img class="img-responsive" style="width:390px; height: 390px; position: relative; border-radius: 4px;" 
        src="/img/uploads/fundo.png">
     
    </div>
      
    <!--<div style="width:360px;">
         
        <img class="img-responsive" style="width:196px; height: 183px; position: absolute;
        margin-left: 96px; margin-top: -235px; border-radius: 4px;" 
        src="/img/uploads/">
       
    </div>-->
    
  </div>
  
  </div>

<a id="criar" href="/cadastro">Criar Banner</a>
  

  <style>
      #criar {
          margin-top: 10px;
          position: absolute;
          padding: 3px;
          border-radius: 4px;
          margin-left: 10px;
          height: 30px;
          width: 100px;
          color: white;
          background-color:green;
      }
       
  </style>




