
<div id="main" style="margin-top:10px;">
     
  <div id="screenshot" style="width:392px;  ">
    
    <div style="width:360px;">
       
        <img class="img-responsive" style="width:390px; height: 390px; position: relative; border-radius: 4px;" src="/img/fundo.png">
     
    </div>
      
    <div style="width:360px;">
          {{#each postagens}}
        <img class="img-responsive" style="width:196px; height: 181px; position: absolute;
        margin-left: 96px; margin-top: -235px; border-radius: 4px;" 
        src="https://uploadmpdecoracoes.s3.amazonaws.com/{{key}}">
         <!--src="/img/uploads/mtb.jpg">-->
       {{/each}}
       

    </div>
     {{#each postagens}}
<p id="nome">{{nome}}</p>
<p id="equipe">{{equipe}}</p>
<p id="cidade">{{cidade}}</p>
{{/each}}
  </div>
    
  </div>

  <div style="font-size:150%;">
      <a id="a-make" href="#">Salvar</a>
      <a id="a-download" href="#" style="display:none;">Baixar Imagem</a>
    
  </div>
<a id="novobanner"  href="/">Novo Banner</a>
<script>
      function makeScreenshot()
      {
          html2canvas(document.getElementById("screenshot"), {scale: 2}).then(canvas =>
          {
              canvas.id = "canvasID";
              var main = document.getElementById("main");
              while (main.firstChild) { main.removeChild(main.firstChild); }
              main.appendChild(canvas);
          });
      }

      document.getElementById("a-make").addEventListener('click', function()
      {
          document.getElementById("a-make").style.display = "none";
          makeScreenshot();
          document.getElementById("a-download").style.display = "inline";
      }, false);

      document.getElementById("a-download").addEventListener('click', function()
      {
          this.href = document.getElementById("canvasID").toDataURL();
          this.download = "mtb_solidário.jpg";
          
      }, false);
  </script>





<style>
#nome {
    position: absolute;
color: #FFFF00; 
margin-top: -55px;
margin-left: 130px;
font-size: 15px;
}

#equipe {
position: absolute;
color:#BDB76B;
margin-top: -40px;
margin-left: 149px;
font-size: 15px;
}

#cidade {
position: absolute;
color:white;
margin-top: -43px;
margin-left: 274px;
font-size: 15px;
}

#a-make {
        
        padding: 4px;
        text-align: center;
        width: 80px;
        border-radius: 4px;
        margin-left: 5px;
        margin-top: 7px;
        font-size: 19px;
        background-color: green;
        color: white;
    }
    #a-download {
        
        padding: 4px;
        text-align: center;
        width: 80px;
        border-radius: 4px;
        margin-left: 5px;
        margin-top: 7px;
        font-size: 19px;
        background-color: green;
        color: white;
    }
    #novobanner {
        position: absolute;
        padding: 4px;
        text-align: center;
        width: 120px;
        border-radius: 4px;
        margin-left: 5px;
        margin-top: 12px;
        margin-bottom: 8px;
        font-size: 19px;
        background-color:purple;
        color: white;
    }
</style>

























