

<div id="main" style="margin-top:10px;">
     
  <div id="screenshot" style="width:392px;  ">
    
    <div style="width:360px;">
       
        <img class="img-responsive" style="width:390px; height: 390px; position: relative; border-radius: 4px;" src="/img/fundo.png">
     
    </div>
      
    <div style="width:360px;">
         
        <img class="img-responsive" style="width:196px; height: 183px; position: absolute;
        margin-left: 96px; margin-top: -235px; border-radius: 4px;" 
        src="/img/uploads/mtb.jpg">
       
       

    </div>
    
  </div>
  </div>

  <div style="font-size:150%;">
      <a id="a-make" href="#">Salvar</a>
      <a id="a-download" href="#" style="display:none;">Baixar Imagem</a>
       
  </div>
<a href="/">Novo</a>
<script>
      function makeScreenshot()
      {
          html2canvas(document.getElementById("screenshot"), {scale: 2}).then(canvas =>
          {
              canvas.id = "canvasID";
              var main = document.getElementById("main");
              while (main.firstChild) { main.removeChild(main.firstChild); }
              main.appendChild(canvas);
          });
      }

      document.getElementById("a-make").addEventListener('click', function()
      {
          document.getElementById("a-make").style.display = "none";
          makeScreenshot();
          document.getElementById("a-download").style.display = "inline";
      }, false);

      document.getElementById("a-download").addEventListener('click', function()
      {
          this.href = document.getElementById("canvasID").toDataURL();
          this.download = "mtb_solidário.jpg";
          
      }, false);
  </script>




  











<!--<h4>1º Pedal Solidário Tribos Unidas</h4>

<div id="container">
<img style="position: absolute; left:1px;top:120px;z-indez:10" src="/img/PicsArt_11-27-12.11.34.png"  id="imgpost" alt="Postagem">
<img style="position: absolute; left:1px;top:580px;z-indez:10"  src="/img/IMG_20200412_123558_635.jpg"  id="pessoa" alt="Postagem">
</div>

<div id="container">
    <img src="/img/fundo.png" alt="pai">
    <div id="filho">
       <img src="/img/thales.jpg" alt="filho"> 
    </div>
</div>

<br>
<button onclick="takeScreenshot()">Baixar Imagem</button>
<a href="download/acme-doc-2.0.1.txt"
 download="Acme Documentation (ver. 2.0.1).txt">Download Text</a>-->



<script>













/*function takeScreenshot() {
    html2canvas(document.querySelector("#container")).then(canvas => {
       const copia = document.body.appendChild(canvas)
       

        
    });
}*/

/*$(function() { 
    $("#btnSave").click(function() { 
        html2canvas($("#container"), {
            onrendered: function(canvas) {
                theCanvas = canvas;
                document.body.appendChild(canvas);

                canvas.toBlob(function(blob) {
					saveAs(blob, "Dashboard.png"); 
				});
            }
        });
    });
}); */


//html2canvas(document.querySelector("#container")).then(canvas => {
  //  document.body.appendChild(canvas)
//});
</script>


<!--<p id="nome">Thales</p>
<p id="equipe">Team Speedy</p>
<p id="cidade">Ituiutaba</p>-->

<style>


#container img{
position: relative;
 width: 390px;
height: 390px;
margin-left: 1rem;
}

#filhos img{
position: absolute;
width: 195px;
height: 183px;
margin-left: 113px;
margin-top: -235px;
border-radius: 4px;
   
}



@media (min-width:1000px){
#pessoa {
width: 200px;
height: 180px;
margin-left: -300px;
margin-top: 101px;
border-radius: 4px;
}
#nome {
color: cyan;
margin-left: 152px;
margin-top: -55px;

}
#equipe {
color: cyan;
margin-left: 170px;
margin-top: -21px;

}
#cidade {
color: cyan;
margin-left: 290px;
margin-top: -40px;

}
}























